<div class="container container-for-login">
  <div class="row">

    <!-- Mixins-->
    <!-- Pen Title-->
    <div class="pen-title">
      <h1>Material Login Form</h1>
    </div>
    <div class="container container-for-login">
      <div class="card"></div>
      <div class="card">
        <h1 class="title">Login</h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="input-container">
              <%= f.email_field :email, autofocus: true %>
              <%= f.label :email %>
              <div class="bar"></div>
            </div>
            <div class="input-container">
              <%= f.password_field :password, autocomplete: "off" %>
              <%= f.label :password %><br />
            </div>
          <div class="button-container">
            <button><span>Go</span></button>
          </div>
            <%= render "devise/shared/links" %>
        <% end %>
      </div>
      <div class="card alt">
        <div class="toggle"></div>
        <h1 class="title">Register
          <div class="close"></div>
        </h1>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
          <div class="input-container">
            <%= f.email_field :email, autofocus: true %>
            <%= f.label :email %>
            <div class="bar"></div>
          </div>
            <div class="input-container">
              <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
              <%= f.password_field :password, autocomplete: "off" %>
              <%= f.label :password %>
              <div class="bar"></div>
            </div>
            <div class="input-container">
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
              <%= f.label :password_confirmation %>
              <div class="bar"></div>
            </div>
              <div class="button-container">
            <button><span>Next</span></button>
          </div>
        <% end %>
      </div>
    </div>
 </div>
</div>