<div class="container container-for-login">
  <div class="row">
    <div class="container container-for-login">
      <div class="card"></div>
      <div class="card">
        <h1 class="title">Login</h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
      </div>
      <div class="card alt">
        <div class="toggle"></div>
        <h1 class="title">Register
          <div class="close"></div>
        </h1>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
          <div class="input-container">
            <%= f.email_field :email, autofocus: true %>
            <%= f.label :email %>
            <div class="bar"></div>
          </div>
            <div class="input-container">
              <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
              <%= f.password_field :password, autocomplete: "off" %>
              <%= f.label :password %>
              <div class="bar"></div>
            </div>
            <div class="input-container">
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
              <%= f.label :password_confirmation %>
              <div class="bar"></div>
            </div>
              <div class="button-container">
            <button><span>Next</span></button>
          </div>
        <% end %>
      </div>
    </div>
 </div>
</div>
